.follow {
    position: relative;
    top: 60px;
    width: 760px !important;
    margin: auto;
    padding: 50px 20px;
    max-width: 1194px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
.userItem {
    background-color:#000;
    width: 228px;
    height:304px;
    border-radius:8px;
    position: relative;
    margin-bottom: 18px;
}
.userInfo {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 215px;
    padding: 35px 12px 20px;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    background-color: rgba(22, 24, 35, 0.06);
    .avatar {
        width: 48px;
        height: 45.8px;
        margin-bottom: 10px;
        img {
            width: 100%;
            height:100%;
            border-radius:50%;
        }
    }
    .info {
        margin-bottom: 8px;
        .name {
            font-size: 18px;
            line-height: 25px;
            font-weight: 700;
        }
        .nickname {
            align-items: center;
            font-size: 14px;
            line-height: 20px;
            font-weight: 600;
        }
    }
}
.likeVideo {
    padding-top: 160px;
    padding-bottom: 228px;
    text-align: center;
    height: 100%;
}