.profile {
    position: relative;
    top: 60px;
    padding: 36px 20px 36px 140px;
}
.content {
    padding-right: 48px;
}
.header {
    margin-bottom: 20px;
    padding-right: 52px;
}
.share__info {
    display: flex;
}
.avatar {
    width: 116px;
    height:116px;
    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}
.share__title {
    height:116px;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    margin-left: 20px;
    .title {
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        padding-bottom: 4px;
    }
    .sub__title {
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        text-overflow: ellipsis;
        height: 25px;
        overflow: hidden;
        max-width: 450px;
        white-space: nowrap;
    }
    .btn__follow {
        height: 36px;
    }
}
.count__infos {
    display: flex;
    align-items: center;
    margin-top: 22px;
    color: rgba(18, 18, 18, 0.75);
    .number {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        margin-right: 40px;
    }
    span {
        display: inline-block;
        margin-left: 6px;
        font-size: 18px;
        line-height: 25px;
        margin-right: 6px;

    }
}
.share__desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgb(18, 18, 18);
    white-space: pre-line;
    margin-top: 10px;
}
.share__link {
    margin-top: 5px;
    font-weight: 700;
    display: flex;
    align-items: center;
    cursor: pointer;
    .faLink {
    font-size:1.4rem;
    position: relative;
    top: -2px;

    }
    .link {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 18px;
        height: 22px;
        max-width: 236px;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: rgb(22, 24, 35);
        padding-left: 10px;
        &:hover {
            text-decoration:underline;
        }
    }
}
.video__feed__tap {
    display: flex;
    height: 44px;
    margin-bottom: 2px;
    position: relative;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    .video,.lock {
        height:100%;
        display: flex;
        justify-content:center;
        align-items: center;
        flex: 1;
        color: rgba(18, 18, 18, 0.5);
    }
    .lock:hover ~ .line{
        transform: translateX(100%);
    }
    .lock:active ~ .line {
        transform: translateX(100%);
    }
    .line {
        position: absolute;
        width: 100%;
        height: 1px;
        background-color:#000;
        left:0;
        bottom:0;
        width: 50%;
        transition: 0.5s all linear;
    }
}
.videos {
    display: flex;
    flex-wrap: wrap;
    margin-left: -11px;
    margin-right: 8px;
    .description {
        display: -webkit-box;
        font-size: 16px;
        line-height: 24px;
        color: rgb(18, 18, 18);
        flex: 0 0 auto;
        font-weight: normal;
        margin: 10px 10px 5px 10px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        height:48px;
    }
}
.group__videos {
    width: 32%;
}
.faThumbsUp {
    margin-left: 12px;
    font-size: 1.8rem;
    margin-bottom: 10px;
}
.likeVideo {
    padding-top: 160px;
    padding-bottom: 228px;
    text-align: center;
    height: 100%;
    width: 95%;
    .faLock {
        color: rgba(18, 18, 18, 0.5);
        font-size: 4.5rem;
        padding-bottom: 24px;
    }
    .title {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 8px;
        color: rgb(18, 18, 18);
    }
    .desc {
        max-width: 480px;
        margin: 0 auto;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: rgba(18, 18, 18, 0.75);
    }
}