$widthVideo : 995px;

.postDetail  {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#fff;
    z-index: 1000;
    display: flex;
    z-index: 1000000000;
}
.video {
    width: $widthVideo;
    height: 100%;
    background-color:#000;
    position: relative;
    z-index: 10;
    .faPlay{
        position: absolute;
        top: 50%;
        left: 50%;
        transform:translate(-50%, -50%);
        width: 50px;
        height: 50px;
        background-color: #393838;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.4rem;
        border-radius: 50%;
        cursor: pointer;
        z-index: 10000;
        transition: all 0.3s linear;
     }
     .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        filter: blur(2px);
        opacity: 0.3;
        background-color:rgb(214, 214, 214);
        z-index: -1;
    }
    .icon {
        width: 50px;
        height: 50px;
        background-color: #393838;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.4rem;
        top: 15px;
        left: 15px;
        border-radius: 50%;
        cursor: pointer;
    }
    .icon.close{
        position: absolute;
        top: 15px;
        left: 15px;
    }
    .icon.faVolumeDown {
        position: absolute;
        top: 15px;
        left: 185px;
    }
    .report {
        position: absolute;
        right: 20px;
        top: 31px;
        font-size: 14px;
        line-height: 20px;
        color: rgba(255, 255, 255, 0.5);
        cursor: pointer;
        .faFlag {
            margin-right: 15px;
        }
    }
}
.content {
    width: calc( 100% - 995px );
    background-color:#fff;
    height:100%;
    display: flex;
    flex-direction: column;
}
.user__info {
    padding: 32px 32px 0px;
    .user {
        position: relative;
        padding: 22px 0px 15px;
       color: rgb(22, 24, 35);
       display: flex;
       justify-content: space-between; 
       align-items: center;
       color: #000;
       .user__img {
           width: 40px;
           height: 40px;
           border-radius: 50%;
       }
       .user__info__link {
        display: flex;
        flex:1;
        flex-direction: column;
        align-items: flex-start;
        overflow: hidden;
        margin: 0 12px;
        .name {
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: flex;
            align-items: center;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
        .nickname {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 0px;
            cursor:pointer;
        }
       }
    }
    .description {
        font-size: 16px;
        line-height: 24px;
        color: rgb(18, 18, 18);
        font-weight: normal;
        padding-bottom: 16px;
        border-bottom:1px solid rgba(18, 18, 18, 0.12);
    }
}
.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
    position: relative;
    .action__left {
        display: flex;
    }
    .group {
        margin-right: 20px;
        font-size: 13px;
        display: flex;
        align-items: center;
        .icon {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            display: flex;
            justify-content:center;
            align-items:center;
            background-color:#F1F1F2;
            margin-right: 6px;
        }
        .icon.active {
            color: var(--primary--color);
        }
    }
    .action__right {
        span {
            font-weight: 600;
            margin-right: 8px;
            line-height: 24px;
            color: rgba(22, 24, 35, 0.75);
            font-size: 1.8rem;
        }
        .icon {
            font-size:2rem;
            margin-left: 8px;
        }
        .icon:not(:last-child) {
            margin-left: 8px;
        }
    }
}
.copy__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
    width: 100%;
    height: 32px;
    border: 1px solid rgba(18, 18, 18, 0.12);
    border-radius: 2px;
    .link {
        font-weight: 400;
        padding: 5px 12px 9px;
        font-size: 14px;
        line-height: 20px;
        color: rgba(22, 24, 35, 0.75);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .link__icon {
        display: flex;
        flex-shrink: 0;
        cursor: pointer;
        color: var(--primary--color);
        align-items: center;

        span {
            display: inline-block;
            font-weight: 600;
            padding: 0px 16px 0px 9px;
            font-size: 14px;
            line-height: 32px;
        }
        .icon {
            font-size: 1.8rem;
        }
    }
}
.line {
    width: 100%;
    height:1px;
    background-color: rgba(18, 18, 18, 0.12);
}
.comment {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .logout {
        display: flex;
        flex: 1 1 0%;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 0px 60px;
        h3 {
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 8px;
        }
        .desc {
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: rgba(22, 24, 35, 0.75);
            margin-bottom: 20px;
        }
        .sign__up {
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: rgb(22, 24, 35);
            margin-top: 20px;
            span {
                color:var(--primary--color);
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                }
            }
        }

    }
}
.faChevronLeft {
    height:48px;
    width: 48px;
    background-color: #393838;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    z-index: 100000000;
    
}
.faChevronRight {
    height:48px;
    width: 48px;
    background-color: #393838;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
    z-index: 100000000;
}
.comment__container {
    width: 100%;
    background-color: rgb(248, 248, 248);
    padding: 0px 32px;
    margin-bottom: 82px;
    border-bottom: 0.5px solid rgba(18, 18, 18, 0.12);
    overflow-y: auto;
    position: relative;
    .comments {
        width: 100%;
        padding-top: 16px;
        .comment__item {
            margin-bottom: 16px;
            width: 100%;
            display:flex;
            .avatar {
                cursor: pointer;
                margin-right: 12px;
                img {
                    width: 40px;
                    height: 40px;
                    object-fit: cover;
                    border-radius: 50%;
                    cursor: pointer;
                }
            }
            .comment__user {
                .user__name {
                    font-size: 18px;
                    line-height: 25px;
                    font-weight: 600;
                    color: rgb(22, 24, 35);
                    user-select: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                .comment__text {
                    padding-top: 4px;
                    padding-right: 40px;
                    font-weight: 400;
                    word-break: break-word;
                    white-space: pre-line;
                    user-select: none;
                    font-size: 16px;
                    line-height: 22px;
                    color: rgb(18, 18, 18);
                }
            }
        }
    }
}
.comment__post {
    position:absolute;
    bottom:0;
    padding: 21px 32px;
    background-color: rgb(255, 255, 255);
    color: #000;
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    .text {
        position: relative;
        width: 25%;
        padding:10px 15px;
        background: rgba(22, 24, 35, 0.06); 
        border-radius: 8px;
        &:focus-within {
            border-color:1px solid rgba(22, 24, 35,0.02);
        }
        .content__text {
            width: 100%;
            outline: none;
            user-select:text;
            caret-color: var(--primary--color);
            font-size: 18px;
            background: transparent;
        }
        input {
            width: 100%;
        }
    }
    button {
        font-weight: 600;
        margin: 0px 4px 12px 16px;
        font-size: 14px;
        color: rgba(22, 24, 35, 0.34);
        line-height: 14px;
        background-color:transparent;
        position: relative;
        top: 8px;
        cursor: pointer;
    }
}