.notFound {
    padding-top: 60px;
    left:0;
    background: url("https://sf16-scmcdn-sg.ibytedtos.com/goofy/tiktok/web/node/_next/static/images/404_new_bg-646e26644819c93c63dfcac66188a9d1.png") transparent center no-repeat;
    height: 100vh;
    background-size: cover;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.error {
    h1 {
        font-size: 300px;
        line-height: 244px;
        white-space: nowrap;
        img {
            width: 244px;
            height: 244px;
        }
    }
}
.notFound__desc {
    margin: 24px auto 0;
    font-weight: 600;
    font-size: 18px;
    color: rgba(22,24,35,0.5);
    line-height: 25px;
}
.recommend__desc {
    font-weight: 700;
    margin: 40px auto 0;
    max-width: 622px;
    font-size: 24px;
    line-height: 28px;
    word-break: break-word;
}
.btn__link {
    margin-top: 30px;
}