.authen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login {
    width: 480px;
    height: auto;
    background-color: #fff;
    border-radius: 4px;
    .title {
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        font-weight: bolder;
        user-select: none;
    }
}
.header {
    height: 48px;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 0;
    margin: 0 20px 0px 22px;
    position: relative;
    .close {
        position:absolute;
        bottom: 0;
        right: 0;
        width: 32px;
        height: 32px;
        background-color: rgba(0,0,0,0.15);
        display:flex;
        justify-content:center;
        align-items: center;
        font-size:1.6rem;
        border-radius: 50%;
        cursor: pointer;
    }
}
.media__login {
    width: 100%;
    font-size: 14px;
    color: #161823;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 540px;
    .modle__container {
        max-height: calc((100vh - 70px) - 100px);
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 320px;
        margin: 0 auto 12px;
        align-items:center;
    }
    .media {
        margin: 32px auto auto;
        max-height: calc(100vh - 112px);
        overflow-y: auto;
        width: 100%;
        .item__media {
            width: 100%;
            min-height: 46px;
            border: 1px solid rgba(22,24,35,.12);
            box-sizing: border-box;
            border-radius: 2px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-bottom: 12px;
            padding: 0 12px 0 0;
            cursor: pointer;
            .icon {
                width: 44px;
                height: 44px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-right: 1px solid rgba(22,24,35,.12);
            }
            .name {
                margin-left: 12px;
                word-break: break-word;
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 1;
                text-align: center;
                font-size: 15px;
                color: #161823;
                font-weight: 600;
            }
        }
    }
}
.footer {
    height: 64px;
    background: #fff;
    border-top: .5px solid rgba(22,24,35,.12);
    font-size: 15px;
    line-height: 18px;
    color: #161823;
    padding: 0 24px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    span {
        color: var(--primary--color);
        cursor: pointer;
    }
    .icon {
        cursor: pointer;
    }
}
.media__logout.media__login {
   min-height: 540px;
   text-align: center;
}
.desc__logout {
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    bottom: 63px;
    width: 376px;
    margin: 0 auto;
    margin-bottom: 16px;
    user-select: none;
    color: rgba(22,24,35,.5);
    span {
        font-weight: 500;
        color: rgba(22,24,35,1);
        cursor: pointer;
    }
}
.login__not__media {
    min-width: 480px;
    height: 540px;
    display: flex;
    justify-content:center;
    align-items: center;
    .from__login {
        width:300px;
        box-shadow: 0 0 0px 2px rgb(48 46 46 / 5%);
        padding: 20px 20px;
        border-radius: 8px;
        text-align: initial;

        .group {
            margin-bottom:16px;
            .userName,.password{
                font-size: 16px;
                line-height: 22px;
                color: #161823;
                font-weight: bold;
            }
            input {
                padding: 10px 15px;
                border: 1px solid #ccc;
                width: 100%;
                margin-top: 12px;
                border-radius: 27px;
            }
        }
    }

    .btn__login {
        display:inline-block;
        display: flex;
        justify-content:center;
    }
    .media {
        span {
            color: var(--primary--color);
            cursor: pointer;
            &:hover {
                text-decoration:underline;
            }
        }
    }
}