.herder__container {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 60px;
    background: #fff;
    border-bottom: 1px solid rgba(34,90,89,0.2);
    z-index: 1000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}