@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;600;700&display=swap');

:root {
   --primary--color: #fe2c55;
   --text--color: #000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
html { 
    font-size: 62.5%;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
}

input, button {
    border:none;
    outline:none;
}
a[href] {
    color:var(--text--color);
    text-decoration:none;
}

%center {
    display:flex;
    align-items: center;
    justify-content:center;
}
