.upload {
    position: relative;
    top: 60px;
}
.title {
    margin-top:70px;
    width: 100%;
    margin-bottom: 40px;
    span {
        display: block;
        font-weight: 700;
        font-size: 56px;
        line-height: 1;
    }
    p{
        font-weight: 400;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: rgb(138, 139, 145);
        margin-top: 2px;
    }
}
.from {
    margin-left: 60px;
    margin-bottom: 111px;
    .font {
        display: flex;
        justify-content:space-between;
        .title__font {
            font-size: 24px;
            font-weight: 400;
        }
        .require__font {
            font-weight: 400;
            font-size: 13px;
            line-height: 17px;
            color: rgba(22, 24, 35, 0.5);
            white-space: pre;
        }
    }
   .text__box {
    min-height: 44px;
    position: relative;
    text-align: center;
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 2px;
    margin-bottom: 40px;
    .editor {
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        cursor: text;
        width: 100%;
        position: relative;
        padding: 0px 80px 0px 16px;
        min-height: 44px;
        text-align: initial;
        .text__editor {
            outline: none;
            user-select: text;
            white-space: pre-wrap;
            overflow-wrap: break-word;
            padding: 12px 0;
            min-height: 44px;
        }
    }
   }
}
.font__item {
    .title {
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        vertical-align: top;
        color: rgb(0, 0, 0);
        margin-bottom: 12px;
    }
    .empty {
        position: relative;
        line-height: 0;
        border: 1px solid rgba(22, 24, 35, 0.12);
        padding: 9px;
        .candidate {
            width: 66px;
            height: 118px;
            object-fit: cover;
            background-color: rgba(22, 24, 35, 0.03);
        }
    }
}
.font__item__flex {
    display:flex;
    .permission {
        .title {
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;
            vertical-align: top;
            color: rgb(0, 0, 0);
            margin-bottom: 12px;
        }
        .radio__group {
            margin-bottom: 26px;
            display: flex;
            .radio {
                display: flex;
                align-items: center;
                margin-right: 32px;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
               .radio__box {
                border: 1.5px solid rgba(22, 24, 35, 0.12);
                border-radius: 50%;
                position:relative;
                display: inline-block;
                width: 22px;
                height: 22px;
                margin-right: 13px;
                &::after {
                    content: "";
                    display: block;
                    width: 14px;
                    height: 14px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    margin-left: -7px;
                    margin-top: -7px;
                    background: rgb(45, 140, 240);
                    border-radius: 7px;
                }
               }
            }
            input[type=radio] {
                display: none;
            }
            input[type=checkbox] {
                width: 22px;
                height: 22px;
                margin-right:13px;
            }
        }
    }
    .permission:first-child {
        margin-right: 55px;
    }
}
.op__part {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
    .btn__cancle {
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        outline: none;
        border: 1px solid transparent;
        background-color:transparent;
        border-radius: 2px;
        cursor: pointer;
        color: rgb(22, 24, 35);
        position: relative;
        margin-right: 32px;
    }
    .btn__post {
        background: rgba(22, 24, 35, 0.06);
        color: rgba(22, 24, 35, 0.34);
        cursor: not-allowed;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        outline: none;
        border: 1px solid transparent;
        border-radius: 2px;
        width: 164px;
        height: 44px;
    
    }
}
.upload__btn {
    text-align: center;
    width: 100%;
    height: 100%;
    padding-bottom: 111px;
    box-sizing: border-box;
    .background {
        
        cursor: pointer;
        width: 100%;
        height: 100%;
        background: rgba(22, 24, 35, 0.03);
        border-radius: 8px;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
        color: rgba(22, 24, 35, 0.34);
        .faCloudDownloadAlt {
            font-size: 4.5rem;
        }
        .text__main {
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            color: rgba(22, 24, 35, 0.34);
            margin-top: 29px;
        }
        .text__sub {
            font-weight: 400;
            font-size: 15px;
            line-height: 18px;
            color: rgba(22, 24, 35, 0.34);
            margin-top: 15px;
        }
        ul {
            text-align: left;
            font-weight: 400;
            font-size: 15px;
            line-height: 18px;
            color: rgba(22, 24, 35, 0.34);
            padding-left: 40px;
            margin-top: 30px;
        }
    }
}

