.copied {
    position:fixed;
    top: 80px;
    left: 32%;
    width: 500px;
    text-align: center;
    height:36px;
    line-height:36px;
    background-color:#ccc;
    font-size: 1.6rem;
    animation: Copied 1s;
    z-index:10000000000000000000000;
}

@keyframes Copied {
    0% {
        opacity:0;
        transform: translateY(-100%);
    }
    70% {
        opacity:1;
        transform: translateX(0);
    }
    100% {
        opacity:0;
        transform: translateY(-100%);
    }
}