.iconEllipsisV {
    display: inline-block;
    padding: 0 4px;
    cursor: pointer;
    position: relative;
    top: 2px;
}
.selectOptions {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 0;
    background-color: #fff;
    box-shadow: 0 0 0px 2px rgb(48 46 46 / 5%);
    width: 100px;
}

.faEllipsisV {
    margin-left: 12px;
    font-size: 1.8rem;
}
.tippySelect {
    background-color: #fff;
    color:#000;
    padding: 8px 0;
    box-shadow: 0 0 3px 1px #757575;
    border-radius: 4px;
    outline: none;
    position: relative;
    &::after {
        content:"";
        border:solid;
        border-width: 15px 13px;
        position: absolute;
        top: -30px;
        right: 16px;
        border-color: transparent transparent #fff transparent;
    }
}
.group {
    display: flex;
    text-align:center;
    cursor: pointer;
    font-size: 1.8rem;
    color: #545457;
    padding:5px 0;
    .icon {
        padding: 0 20px;
    }
    &:hover {
        background: rgba(22,24,35,0.03);
    }
    .text {
        padding-right: 10px;
    }
}
.menu {
    display:flex;
    .group__icon {
        display: flex;
        align-items:center;
        .img {
            margin-right: 20px;
            cursor: pointer;
        }
    }
    .avatar {
        width: 32px;
        height: 32px;
        cursor: pointer;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius:50%;
        }
    }
}
.tipyProfile {
    position: relative;
    left:-85px;
    border-radius: 4px;
    box-shadow: 0 0 10px 1px rgba(37, 39, 48, 0.25);
    background-color: #fff;
    padding-bottom: 4px;
    width: 250px;
    &::after {
        content: "";
        position: absolute;
        border:20px solid;
        border-color: transparent transparent #fff transparent;
        top: -31px;
        right:20px;

    }
    .info {
      padding: 8px 0;
      border-bottom: 1px solid #ccc;
      .item {
          display:flex;
          align-items:center;
          height:36px;
          cursor: pointer;
          font-size: 1.8rem;
          .icon {
              padding: 0 12px;
          }
          &:hover {
            background-color: rgba(0,0,0,0.03);
          }
      }
    }
    .login {
      margin-top: 8px;
      margin-bottom: 8px;
      display:flex;
      align-items:center;
      height:36px;
      cursor: pointer;
      font-size: 1.8rem;
      .icon {
        padding: 0 12px;
       }
      &:hover {
        background-color: rgba(0,0,0,0.03);
      }
    }
}