.navbar {
    position: fixed;
    top: 60px;
    left:unset;
    transform: translateX(20px);
    padding-top: 26px;
    background-color: #fff;
    width: 240px;
    margin-right: 4px;
    overflow-x: hidden;
    overflow-y: auto;
    height:90vh;
    &::-webkit-scrollbar {
        border-radius: 0;
        width: 8px;
    }
    &:hover::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0,0,0,0.15);
    }
    &:hover::-webkit-scrollbar-track {
        border-radius: 0;
        background-color: rgba(0,0,0,0);
    }
}
.group {
    display: flex;
    align-items: center;
    padding: 16px 12px 12px;
    font-size: 2.4rem;
    cursor: pointer;
    &:hover {
        background: rgba(22,24,35,0.03);
    }
    .text {
        font-weight: 700;
        line-height: 28px;
        margin-left: 13px;
        word-break: break-all;
        word-spacing: 3px;
    }
    .icon {
        font-size: 3rem;
    }
}
.upper__contents {
    padding: 0 16px;
    padding: 48px 0 20px;
    border-bottom: 1px solid #ccc;
    &>span {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: rgba(22,24,35,0.5);
        display: block;
        margin-bottom: 20px;
    }
    .btn {
        width: 100%;
        text-align: center;
    }

}
.title {
    font-weight: 400;
    margin-bottom: 8px;
    padding: 18px 0 0 4px;
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    color: rgba(22,24,35,0.75);
}
.group__info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 64px;
    padding-left: 4px;
    cursor: pointer;
    .avatar {
        width: 48px;
        height: 48px;
        background-color: #000;
        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }
    .info {
        margin-left: 12px;
        height: 47px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 140px;
        h4 {
            height: 25px;
            font-size: 18px;
            line-height: 25px;
            color: rgb(22, 24, 35);
            display: flex;
            align-items: center;
            max-width: 140px;
        }
        p {
            height: 20px;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: rgb(22, 24, 35);
            max-width: 140px;
        }
    }
}
.see {
    height: 25px;
    padding-left: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 12px;
    margin-bottom: 9px;
    color:var(--primary--color);
    cursor: pointer;
    .text{
     font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    margin-right: 8px;
    }
    .faChevron {
       font-size: 1.8rem;
       position: relative;
       top: 1px;
    }
}
.bottomNavbar {
    padding:26px 0 24px 16px;
    .contact {
        margin-bottom: 8px;
        cursor: pointer;
        span {
            display: inline-block;
            margin-top: 5px;
            margin-right: 6px;
            font-weight: 600;
            font-size: 12px;
            line-height: 12px;
            color: rgba(22,24,35,0.5);
            &:hover {
                text-decoration:underline;
            }
        }
    }
    .more {
        margin-bottom: 8px;
        cursor: pointer;
    span {
        font-weight: 600;
        margin-right: 6px;
        margin-top: 5px;
        font-size: 12px;
        line-height: 12px;
        color: rgba(22,24,35,0.5);
    }
    }
    .coyyRight {
        display: inline-block;
        margin-right: 6px;
        margin-top: 5px;
        font-weight: 600;
        font-size: 12px;
        line-height: 12px;
        cursor: pointer;
        color: rgba(22,24,35,0.5);
    }
}
.waring {
    font-size: 1.6rem;
    padding:10px 5px;
}