.search__container {
    position: relative;
}
.search__input {
    display: flex;
    align-items: center;
    background: rgba(22,24,35,0.06);
    border-radius: 92px;
    padding: 12px 16px;
    position: relative;
    z-index: 1;
    &:focus-within {
        border: 1px solid #DCE4E4;
    }
    input {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        border: none;
        background: transparent;
        outline: none;
        padding: 0;
        width: 292px;
        caret-color: #fe2c55;
    }
    .split {
        width: 1px;
        height: 28px;
        margin: -3px 0;
        background: rgba(22,24,35,0.12);
    }
    .button__search__container {
        height:46px;
        padding: 0 16px 0 12px;
        margin: -12px -14px -12px -12px;
        margin-left: 0;
        font-size: 0;
        cursor: pointer;
        border: none;
        background: transparent;
        border-top-right-radius: 92px;
        border-bottom-right-radius: 92px;
        .faSearch {
            color:rgba(22, 24, 35, 0.34);
            font-size: 1.8rem;
        }
        &:hover {
            background: rgba(22,24,35,0.03);
        }
    }
}
.faTimesCircle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 280px;
    font-size: 1.8rem;
    color:rgba(22, 24, 35, 0.34);
    cursor: pointer;
    z-index: 100;
}
.tippySearch {
    background-color:#fff;
    color: #000;
    box-shadow: 0 0 0px 2px rgb(48 46 46 / 5%);
    padding-top: 8px;
    .name {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 18px;
        color: rgb(22, 24, 35);
    }
}
.SearchViewName {
    width: 100%;
    position:absolute;
    top: 55px;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 0px 2px rgb(48 46 46 / 5%);
    border-radius: 4px;
    .info {
        height:64px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 15px;
        &:hover {
            background: rgba(22, 24, 35, 0.03);
        }
        .info__name {
            font-size: 18px;
            line-height: 25px;
            color: rgb(22, 24, 35);
            display: flex;
        }
        .info__nickname {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: rgb(22, 24, 35);
            white-space: nowrap;
        }
    }
}