.footer {
    width: 100vw;
    color: #fff;
    background: #000;
    padding-bottom: 24px;
    .content__wapper {
        position: relative;
        display: flex;
        align-items: flex-start;
        padding: 40px 0 0 378px;
        .logo {
            position: absolute;
            top: 40px;
            left: 144px;
            color: #fff;
            .LogoTextDark {
                position: relative;
                top: -2px;
                margin-left: 4px;
            }
        }
        .content__colum {
            flex:1;
            padding-right: 8px;
            h4 {
                font-size: 14px;
                line-height: 28px;
                font-weight: 700;
            }

            span {
                    display: inline-block;
                    color: #ccc;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 28px;
                    cursor: pointer;
                    transition: 0.3s all linear;
                    &:hover {
                    border-bottom: 1px solid #ccc;
                    }
            }
        }
    }
}
.footer__bottom__wrapper {
    padding: 0 144px;
    margin-top: 60px;
    display:flex;
    justify-content:space-between;
    .language__selection__form {
        width: 172px;
        height: 36px;
        border: 1px solid #8a8b91;
        border-radius: 2px;
        padding: 0 16px;
        display: flex;
        justify-content:center;
        align-items:center;
        outline: none;
        background-color: #000;
        color: #fff;
        word-break: break-all;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .copyright {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #8a8b91;
    }
}