.search {
    padding: 16px 24px 16px 67px;
    position: relative;
    top: 60px;
}
.item {
    padding: 16px;
    position: relative;
    display: flex;
    &::after {
        content:'';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: rgba(22, 24, 35, 0.2);
     }
    .avatar {
        width: 60px;
        height: 60px;
        margin-right: 16px;
        img {
            width: 100%;
            height: 100%;
            border-radius:50%;
        }
    }
    .info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .name {
            font-size: 18px;
            line-height: 25px;
            font-weight: bold;
            color: rgb(22, 24, 35);
        }
        .nickname {
            margin-top: 1px;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: rgba(22, 24, 35, 0.75);
        }
        .desc {
            font-size: 14px;
            line-height: 20px;
            color: rgb(22, 24, 35);
            font-weight: 400;
            margin-top: 4px;
        }
    }
}