.post {
    position: relative;
    top: 60px;
    margin: auto;
    padding: 50px 20px;
    display: flex;
    flex-direction: row;
    max-width: 1194px;
}
.postItem {
    padding-right: 48px !important;
}
.postItem {
    width: 692px;
    max-width: 692px;
    position: relative;
    padding: 20px 0px;
    border-bottom: 0.5px solid rgba(22, 24, 35, 0.12);
    display: flex;
    .avatar {
        width: 56px;
        height: 56px;
        background-color: #000;
        img {
            width: 100%;
            height: 100%;
            border-radius:50%;
        }
    }
    .info {
        position: relative;
        margin-left: 10px;
        width: calc(100% - 66px);
        .authorInfo {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: flex;
            align-items: flex-start;
            margin-right: 150px;
            .name {
                font-weight: 700;
                font-size: 18px;
                line-height: 20px;
                margin-bottom: 0px;
                &:hover {
                    text-decoration:underline;
                }
            }
            .nickname {
                display:inline-block;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                margin-bottom: 0px;
            }
        }
    }

}
.captions {
    display: flex;
    align-items: flex-start;
    margin-right: 150px;
    span {
        font-size: 16px;
        line-height: 22px;
        color: rgb(18, 18, 18);
        word-break: break-word;
    }
}
.video {
    margin-top: 20px;
    position: relative;
    .video__info {
        width: 100%;
        height:100%;
        border-radius: 4px;
        overflow: hidden;
        position: relative;
        .waypoint {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 10px;
            height: 10px;
            background-color:transparent;
        }
    }
    &:hover .report {
        opacity: 1;
        visibility: visible;
    }
    &:hover .faPlayPasue {
        opacity: 1;
        visibility: visible;
    }
}
.faVolume {
    position: absolute;
    bottom: 20px;
    right: 25px;
    font-size: 2.4rem;
    color: #fff;
}
.report {
    position: absolute;
    top: 20px;
    right:8px;
    color: #fff;
    display: flex;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s linear;
    .icon {
        font-size: 1.2rem;
        position: relative;
        top: 1px;
        margin-right: 8px;
    }
    .text {
        font-size: 1.4rem;
    }
}
.faPlayPasue {
    position: absolute;
    bottom: 20px;
    left:25px;
    color: #fff;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s linear;
    font-size: 1.8rem;
}
.following {
    position: absolute;
    top: 30px;
    right: 0;
}
.media {
    position: absolute;
    bottom: 0;
    right: -65px;
    .group {
        display:flex;
        flex-direction: column;
        align-items:center;
        justify-content:center;
        margin-top: 8px;
        color: #000;
        cursor: pointer;
        .icon {
            width: 48px;
            height:48px;
            border-radius: 50%;
            background-color: rgba(22, 24, 35, 0.06);
            color: #000;
            display:flex;
            align-items:center;
            justify-content:center;
            font-size: 1.8rem;
            margin-bottom: 6px;
        }
        .icon.active {
            color:var(--primary--color)
        }
        .total {
            font-size: 1.6rem;
        }
    }
}
.tipyShare {
    background-color:#fff;
    box-shadow: 0 0 0px 2px rgb(48 46 46 / 5%);
    border-radius: 4px;
    padding:8px 0;
    width:300px;
    position: relative;
    left:100px;
    top: -5px;
    &::after {
        content:'';
        position:absolute;
        border: 20px solid;
        border-color: #fff transparent transparent transparent;
        bottom:-35px;
        left: 28px;
    }
    .group__share {
        display:flex;
        height:48px;
        flex-direction:row;
        font-size: 1.8rem;
        align-items:center;
        cursor: pointer;
        &:hover {
            background-color: rgba(0,0,0,0.03);
        }
        .icon {
            padding:0 12px;
        }
    }
}
