.message {
    position: relative;
    top: 60px;
    background-color: rgba(0,0,0,0.15);
    width: 100%;
    height: calc(100vh - 60px);
}
.row__message {
    height:100%;
}
.grid__message {
    height: 100%;
    padding: 15px 0 5px 0;
}
.left__part {
    width: 100%;
    height:100%;
    background-color:#fff;
    box-shadow: rgb(0 0 0 / 6%) 0px 2px 8px;
    border-radius: 8px;
    .header {
        width: 100%;
        height: 60px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 16px 0px 24px;
        .title {
            font-weight: 700;
            max-width: 240px;
            font-size: 24px;
            color: rgb(0, 0, 0);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .faCog {
            font-size: 3rem;
        }
    }
    .emty__list {
        background: rgba(22, 24, 35, 0.03);
        padding: 0px 16px;
        height: 72px;
        font-weight: 400;
        font-size: 14px;
        line-height: 72px;
    }
}
.right__part {
    width: 100%;
    height:100%;
    background-color:#fff;
    box-shadow: rgb(0 0 0 / 6%) 0px 2px 8px;
    border-radius: 8px;
}