.logo__link {
    position: relative;
    top: 4px;
    display: flex;
    height: 42px;
    align-items: center;
}
.logo__dark {
    width: 28px;
    img {
        width: 100%;
    }
}
.logo__text__dark {
    width: 97px;
    margin-left: 4px;
    position: relative;
    top: -2px;
    img {
        width: 100%;
    }
}